<div class="heroes">
  <div class="heroes__container">
    <h2>My Heroes</h2>
    <ul class="heroes__list list">
      <li class="list__item item"
          *ngFor="let hero of heroes">
        <span class="item__badge">
          {{ hero.id }}
        </span>
        <span class="item__hero">
          {{ hero.name }}
        </span>
        <button class="heroes__delete"
                (click)="remove(hero)">
          X
        </button>
      </li>
    </ul>
  </div>
  <div class="heroes__container heroes__container--new">
    <div>
      <label>
        Hero name:
        <input class="hero-name" #heroName/>
      </label>
      <button class="heroes__add"
              (click)="add(heroName.value); heroName.value = ''">Add new hero</button>
    </div>
  </div>
</div>
